ANALISI DEL DATASET SULLE STELLE

In [14]:
import pandas as pd

dataset = pd.read_csv("Stars.csv")

dataset.head()

   Temperature         L       R    A_M Color Spectral_Class  Type
0         3068  0.002400  0.1700  16.12   Red              M     0
1         3042  0.000500  0.1542  16.60   Red              M     0
2         2600  0.000300  0.1020  18.70   Red              M     0
3         2800  0.000200  0.1600  16.65   Red              M     0
4         1939  0.000138  0.1030  20.06   Red              M     0

Viene stampata una parte del dataset per mostrarne la struttura. Possiamo vedere che all'interno del dataset sono contenute 7 colonne, ciascuna corripondente ad un diverso attributo.

Gli attributi sono rispettivamente:

1. Temperatura, viene espressa in Kelvin
2. L, è la luminosità della stella cioè la quantità di energia elettromagnetica che viene emessa dalla stella stessa per unità di tempo, ovvero la sua potenza. Viene espresso in relazione alla luminosità del sole
3. R, è il raggio della stella. Viene espresso in relazione al raggio del sole
4. AM, parametro che dipende dalla luminosità intrinseca della stella e dalla sua distanza con la terra
5. Colore, indica il colore dello spettro della stella
6. Classe spettrale a cui appartengono le stelle
7. Tipo di stella, viene assegnata considerando i parametri di colore, spettro di emissione ed albedo. Viene indicato con un numero che indica:
- 0 Red Dwarf
- 1 Brown Dwarf
- 2 White Dwarf
- 3 Main Sequence
- 4 Super Giants
- 5 Hyper Giants